__pycache__/
*.py[cod]
*$py.class
*.zip
.DS_Store
.ipynb_checkpoints

audios/*
reports/*
analysis/*
cache/*
results/*
data/*.m4a
data/*.mp3
data/*.png
data/*.wav
hits_worker.txt
hits.txt

agent/results/*
agent/Cnn14_DecisionLevelMax_mAP=0.385.pth