<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- MTurk -->
    <script type="text/javascript" src="https://s3.amazonaws.com/mturk-public/externalHIT_v1.js"></script>
    <!-- BootstrapVue -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.19.0/bootstrap-vue.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
        rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.19.0/bootstrap-vue.min.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">Audio Event Annotation Instructions</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5>What is the task?</h5>
                        <p>
                            Please listen to a audio clip and write down all the
                            events you hear during it.
                        </p>
                        <ul>
                            <li>
                                An <strong>event</strong> can be anything, such as <em>dog barking, water dribbling,
                                    door
                                    creaking</em>...
                            </li>
                            <li>
                                Don't worry about the wording or tense. For example, "dog barks", "dog barking" and
                                "dog" are all valid answers. Try to be as comprehensive as possible!
                            </li>
                            <li>Feel free to use the context image and ask for AI's suggestions.</li>
                        </ul>
                        <h5>What are some examples?</h5>
                        <p>The regular UI is shown as follows, where you are provided one audio clip, a corresponding
                            context image, and a text box to type in your answers:</p>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-md-6" v-for="(example, idx) in examples.slice(0,2)">
                                    <div class="card" style="height: 700px">
                                        <div class="card-header">
                                            Regular Example {{idx+1}}
                                        </div>
                                        <div class="card-body">
                                            <div class="container">
                                                <img v-bind:src="srcPrefix+example[1]" class="img-thumbnail">
                                                <p></p>
                                                <audio controls="">
                                                    <source v-bind:src="srcPrefix+example[0]" type="audio/mpeg" />
                                                </audio>
                                                <p></p>
                                                <div class="tag-container">
                                                    Sample answers:
                                                    <div v-for="text in example[2]" class="tag">{{text}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <p>However, if you feel some uncertainty here, you can press the button "AI's Suggestions".
                            Specifically, you will be provided a diagram of the most likely audio events as well as
                            their timing. <strong>Please use these suggestions wisely (there might be some
                                errors)!</strong>
                        </p>
                        <div class="card" style="height: 500px">
                            <div class="card-header">
                                AI-assisted Example
                            </div>
                            <div class="card-body">
                                <div class="container">
                                    <div class="row align-items-left">
                                        <div class="col-sm-4 col-md-4">
                                            <!-- <div class="row align-items-left"> -->
                                            <p>Audio and context image:</p>
                                            <img v-bind:src="srcPrefix+examples[2][1]" class="img-thumbnail">
                                            <p></p>
                                            <audio controls="">
                                                <source v-bind:src="srcPrefix+examples[2][0]" type="audio/mpeg" />
                                            </audio>
                                            <!-- </div> -->

                                        </div>
                                        <div class="col-sm-8 col-md-8">
                                            <div class="container">
                                                <p>Suggested events and locations:</p>
                                                <div class="row">
                                                    <div class="col-sm-11 col-md-11">
                                                        <img v-bind:src="srcPrefix+'sound2.png'" class="img-thumbnail">
                                                    </div>
                                                    <div class="col-sm-1 col-md-1 flex-container justify-content-center"
                                                        style="margin: 16px 0 0 -10px; ;">
                                                        <template v-for="(label, i) in suggestedLabels">
                                                            <button @click="addSuggestion(i)"
                                                                class="btn btn-link btn-sm" disabled>Select</button>
                                                        </template>
                                                        <button @click="addSuggestionAll()"
                                                            class="btn btn-outline-primary btn-sm" disabled>All</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p></p>
                        <h5>Need more helps?</h5>
                        <p>Please watch the demo video <a href="https://www.youtube.com/watch?v=F8M9O1cfm10"
                                target="_blank">[v1]</a> <a href="https://www.youtube.com/watch?v=F8M9O1cfm10"
                                target="_blank">[v2]</a> for more clarification!</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding: 5%; width: 1300px;">
            <div class="card">
                <div class="card-header">
                    <h6>Please describe the event(s) happened in the following audio.
                        <a href="#" data-toggle="modal" data-target="#exampleModal">[Instructions]</a>
                    </h6>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row align-items-left">
                            <div class="col-sm-4 col-md-4">
                                <!-- <div class="row align-items-left"> -->
                                <p>Audio and context image:</p>
                                <img src="${img_url}" class="img-thumbnail">
                                <p></p>
                                <audio controls="">
                                    <source src="${audio_url}" type="audio/mpeg" />
                                </audio>
                                <!-- </div> -->

                            </div>
                            <div class="col-sm-8 col-md-8" v-if="isSuggestion">
                                <div class="container">
                                    <p>Suggested events and locations:</p>
                                    <div class="row">
                                        <div class="col-sm-11 col-md-11">
                                            <img src="${sed_img_url}" class="img-thumbnail">
                                        </div>
                                        <div class="col-sm-1 col-md-1 flex-container justify-content-center"
                                            style="margin: 16px 0 0 -10px; ;">
                                            <template v-for="(label, i) in suggestedLabels">
                                                <button @click="addSuggestion(i)"
                                                    class="btn btn-link btn-sm">Select</button>
                                            </template>
                                            <button @click="addSuggestionAll()"
                                                class="btn btn-outline-primary btn-sm">All</button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <p></p>
                        <div class="row align-items-left">
                            <div class="col">
                                <template>
                                    <div>
                                        <b-form-tags input-id="tags-separators" v-model="value" separator=";"
                                            placeholder="Enter the event(s)..."></b-form-tags>
                                    </div>
                                </template>
                            </div>

                        </div>
                        <p></p>
                        <div class="row align-items-right">
                            <div class="col-sm-12 col-md-12">
                                <button class="btn btn-primary float-right" v-if="value.length === 0"
                                    disabled>Submit</button>
                                <button class="btn btn-primary float-right" v-else
                                    @click="handleFormSubmit()">Submit</button>
                                <button @click="isSuggestion = true" class="btn btn-warning float-right"
                                    style="margin-right: 5px;">AI's Suggestions</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <p><textarea name="comment" cols="80" rows="3" required></textarea></p> -->
            <form name="mturk_form" method="post" id="mturk_form" action="https://www.mturk.com/mturk/externalSubmit">
                <input type="hidden" value="" name="assignmentId" id="assignmentId" />
                <input type="hidden" id="eventList" name="events">
                <input type="hidden" id="suggestChosen" name="suggest" value="false">
            </form>
        </div>
    </div>

    <script language="Javascript">turkSetAssignmentID();</script>
    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    value: [],
                    isSuggestion: false,
                    srcPrefix: "https://sound-events.s3.amazonaws.com/",
                    examples: [
                        ["sound0.wav", "thumbnail0.png", ["music", "speech", "female singing", "child singing"]],
                        ["sound1.wav", "thumbnail1.png", ["reversing beeps", "truck", "vehicle"]],
                        ["sound2.wav", "thumbnail2.png", ["domestic animals", "pets", "squeak", "dog", "animal"]],
                    ],
                    isHelp: false,
                    suggestedLabels: ["${suggested}"],
                }
            },
            methods: {
                handleFormSubmit() {
                    // const urlParams = new URLSearchParams(window.location.search)
                    // document.getElementById('inputAssignmentId').value = urlParams.get('assignmentId')
                    document.getElementById('eventList').value = this.value.join("+");
                    if (this.isSuggestion)
                        document.getElementById('suggestChosen').value = "true";
                    document.getElementById('mturk_form').submit();
                },
                addSuggestion(i) {
                    this.value.push(this.suggestedLabels[i]);
                    console.log(this.value)
                },
                addSuggestionAll() {
                    this.suggestedLabels.forEach((label, i) => {
                        this.addSuggestion(i)
                    });
                }
            }
        });
    </script>

    <style>
        .center-align {
            margin-top: auto;
            margin-bottom: auto;
        }

        a.fill-div {
            display: block;
            height: 100%;
            width: 100%;
            text-decoration: none;
        }

        div.tag {
            display: inline-block;
            width: fit-content;
            padding: 0 2% 0 2%;
            border-radius: 4px;
            background-color: rgb(125, 132, 135);
            margin: 0 2px 0 2px;
            font-size: smaller;
            color: white;
        }

        div.tag-container {
            border-radius: 4px;
            border: 1px;
            border-style: solid;
            border-color: rgb(188, 184, 184);
            padding: 3%;
        }

        div.flex-container {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            flex-wrap: wrap;
        }
    </style>
</body>

</html>